/* @extend display-flex; */
display-flex, .form-flex, .form-date-group, .steps ul, .title, .title .step-number, .actions ul li a, .form-radio-flex, .form-find {
  display: flex;
  display: -webkit-flex; }

/* @extend list-type-ulli; */
list-type-ulli, .steps ul, .actions ul {
  list-style-type: none;
  margin: 0;
  padding: 0; }

/* roboto-slab-300 - latin */
@font-face {
  font-family: 'Roboto Slab';
  font-style: normal;
  font-weight: 300;
  src: url("../fonts/roboto-slab/roboto-slab-v7-latin-300.eot");
  /* IE9 Compat Modes */
  src: local("Roboto Slab Light"), local("RobotoSlab-Light"), url("../fonts/roboto-slab/roboto-slab-v7-latin-300.eot?#iefix") format("embedded-opentype"), url("../fonts/roboto-slab/roboto-slab-v7-latin-300.woff2") format("woff2"), url("../fonts/roboto-slab/roboto-slab-v7-latin-300.woff") format("woff"), url("../fonts/roboto-slab/roboto-slab-v7-latin-300.ttf") format("truetype"), url("../fonts/roboto-slab/roboto-slab-v7-latin-300.svg#RobotoSlab") format("svg");
  /* Legacy iOS */ }
/* roboto-slab-regular - latin */
@font-face {
  font-family: 'Roboto Slab';
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/roboto-slab/roboto-slab-v7-latin-regular.eot");
  /* IE9 Compat Modes */
  src: local("Roboto Slab Regular"), local("RobotoSlab-Regular"), url("../fonts/roboto-slab/roboto-slab-v7-latin-regular.eot?#iefix") format("embedded-opentype"), url("../fonts/roboto-slab/roboto-slab-v7-latin-regular.woff2") format("woff2"), url("../fonts/roboto-slab/roboto-slab-v7-latin-regular.woff") format("woff"), url("../fonts/roboto-slab/roboto-slab-v7-latin-regular.ttf") format("truetype"), url("../fonts/roboto-slab/roboto-slab-v7-latin-regular.svg#RobotoSlab") format("svg");
  /* Legacy iOS */ }
/* roboto-slab-700 - latin */
@font-face {
  font-family: 'Roboto Slab';
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/roboto-slab/roboto-slab-v7-latin-700.eot");
  /* IE9 Compat Modes */
  src: local("Roboto Slab Bold"), local("RobotoSlab-Bold"), url("../fonts/roboto-slab/roboto-slab-v7-latin-700.eot?#iefix") format("embedded-opentype"), url("../fonts/roboto-slab/roboto-slab-v7-latin-700.woff2") format("woff2"), url("../fonts/roboto-slab/roboto-slab-v7-latin-700.woff") format("woff"), url("../fonts/roboto-slab/roboto-slab-v7-latin-700.ttf") format("truetype"), url("../fonts/roboto-slab/roboto-slab-v7-latin-700.svg#RobotoSlab") format("svg");
  /* Legacy iOS */ }


body{
  font-family: 'Comfortaa', cursive !important;
  background-color: #F0DEFD !important;
}
a:focus,
a:active {
  text-decoration: none;
  outline: none;
  transition: all 300ms ease 0s;
  -moz-transition: all 300ms ease 0s;
  -webkit-transition: all 300ms ease 0s;
  -o-transition: all 300ms ease 0s;
  -ms-transition: all 300ms ease 0s; }

input,
select,
textarea {
  outline: none;
  appearance: unset !important;
  -moz-appearance: unset !important;
  -webkit-appearance: unset !important;
  -o-appearance: unset !important;
  -ms-appearance: unset !important; 
  border: 1px solid black !important;
  font-family: 'Comfortaa', cursive !important;
 
}

option{
  font-family: 'Comfortaa', cursive !important;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  appearance: none !important;
  -moz-appearance: none !important;
  -webkit-appearance: none !important;
  -o-appearance: none !important;
  -ms-appearance: none !important;
  margin: 0; }

.fa{
  font-size: 20px;
}
::placeholder {
  color: black;
  font-family: 'Comfortaa', cursive;
  
}

.cont{
  width: 100%;
  max-width: 695px;

}
.err_fiche{
  color:red;
  font-weight: bold;
  text-align: center;
  padding-top: 20px;
  display: none;
}
.btn_save,.btn_save_fiche, .save_diff_btn, .btn_save_diff , .btn_save_proj , .mod_fiche{
  width: 140px;
    height: 50px;
    color: #fff;
    background: #4966b1;
    align-items: center;
    -moz-align-items: center;
    -webkit-align-items: center;
    -o-align-items: center;
    -ms-align-items: center;
    justify-content: center;
    -moz-justify-content: center;
    -webkit-justify-content: center;
    -o-justify-content: center;
    -ms-justify-content: center;
    text-decoration: none;
    border-color: none !important;
 
}
.btn_save,.btn_save_fiche , .save_diff_btn, .btn_save_diff , .btn_save_proj, .mod_fiche p{
  text-align: center;
  padding-top: 15px;
}

.cont_proj{
  width: 100%;
}
.btn_save,.btn_save_fiche:hover{
  cursor: pointer;
}

.buls{
  background-color: greenyellow;
  margin-top: 15px;
  
}

input:focus,
select:focus,
textarea:focus {
  outline: none;
  box-shadow: none !important;
  -moz-box-shadow: none !important;
  -webkit-box-shadow: none !important;
  -o-box-shadow: none !important;
  -ms-box-shadow: none !important; }

input[type=checkbox] {
  appearance: checkbox !important;
  -moz-appearance: checkbox !important;
  -webkit-appearance: checkbox !important;
  -o-appearance: checkbox !important;
  -ms-appearance: checkbox !important; }

input[type=radio] {
  appearance: radio !important;
  -moz-appearance: radio !important;
  -webkit-appearance: radio !important;
  -o-appearance: radio !important;
  -ms-appearance: radio !important; }

.clear {
  clear: both; }

h2 {
  font-size: 30px;
  margin: 0px; }

body {
  font-size: 14px;
  line-height: 1.6;
  color: #222;
  font-weight: 400;
  font-family: 'Roboto Slab';
  margin: 0px;
  background: #222;
  position: relative;
  padding: 0px; }

.main {
  padding: 50px 0;
  position: relative;
  z-index: 99; }

.container {
  width: 1400px;
  margin: 0 auto;
  background: #fff; }

fieldset {
  padding: 0px;
  margin: 0px;
  border: none;
  padding-left: 45px;
  padding-right: 55px;
  padding-top: 45px; }

p.desc {
  margin: 0px;
  margin-bottom: 40px;
  color: #555; }

.form-label {
  display: block;
  width: 100%;
  font-size: 16px;
  margin-bottom: 10px; }

.text-input {
  font-size: 14px;
  color: #000;
  display: block;
  margin-top: 15px;
  width: 50%
}
  .text-input span {
    color: #222;
    font-weight: bold; }

.alert-success{
  background-color: #D4EDDA;
  text-align: center;
  color: #000;
  display: none;
}

.rec{
  background-color: #fff;
  
}
.flex{
  display: flex;
  justify-content: space-around;
  text-align: center;
}

.fieldset-content{
  width: 70%;
  margin: 0 auto;
}
.plus{
  text-align: center;
  border: 1px solid #000;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  margin: 0 auto;
  
}

.plus i {
  padding-top: 10px;
}
input {
  width: 100%;
  display: block;
  border: 1px solid #ebebeb;
  height: 50px;
  box-sizing: border-box;
  padding: 0 20px;
  color: #222;
  font-weight: bold;
  font-size: 14px;
  font-family: 'Roboto Slab'; }

#steps-uid-0-p-0 .form-row, #steps-uid-0-p-0 .form-group, #steps-uid-0-p-0 .form-date {
  width: 680px; }

.form-flex {
  margin: 0 -10px; }
  .form-flex .form-group {
    width: 50%;
    padding: 0 7px;
    margin-left: 15px;
  }

.form-group,
.form-date {
  margin-bottom: 18px;
  position: relative; }

.form-date-group {
  border: 1px solid transparent;
  border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  -o-border-radius: 5px;
  -ms-border-radius: 5px; }
  .form-date-group select ,select {
    border: 1px solid #ebebeb;
    width: 100%;
    box-sizing: border-box;
    appearance: none !important;
    -moz-appearance: none !important;
    -webkit-appearance: none !important;
    -o-appearance: none !important;
    -ms-appearance: none !important;
    position: relative;
    background: 0 0;
    z-index: 10;
    cursor: pointer;
    padding: 0 20px;
    height: 50px;
    font-size: 14px;
    font-family: 'Roboto Slab';
    color: #999;
    box-sizing: border-box;
    background-color: #fff;
    color: #222;
    font-weight: bold; }

.form-date-item {
  position: relative;
  overflow: hidden;
  width: 100px;
  margin-right: 10px; }

.vertical {
  display: block;
  width: 100%;
  background-color: #F5EDED;
  border: 1px solid #000;
  overflow: hidden; }
  .vertical .steps {
    float: left;
    width: 310px; }
  .vertical .content,
  .vertical .actions {
    float: right;
    width: 1090px; }

.content {
  height: 800px;

 }

.steps ul {
  flex-direction: column;
  -moz-flex-direction: column;
  -webkit-flex-direction: column;
  -o-flex-direction: column;
  -ms-flex-direction: column;
  position: relative;
  padding-left: 40px;
  padding-top: 60px; }
  .steps ul li {
    padding-bottom: 40px;
    position: relative;
    z-index: 99; }
    .steps ul li a {
      text-decoration: none;
      color: #222; }
  .steps ul:after {
    position: absolute;
    content: '';
    width: 2px;
    height: 180px;
    background: #ebebeb;
    left: 64px;
    top: 50%;
    transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    z-index: 9; }

.title {
  align-items: center;
  -moz-align-items: center;
  -webkit-align-items: center;
  -o-align-items: center;
  -ms-align-items: center; }
  .title .step-number {
    width: 40px;
    height: 40px;
    align-items: center;
    -moz-align-items: center;
    -webkit-align-items: center;
    -o-align-items: center;
    -ms-align-items: center;
    justify-content: center;
    -moz-justify-content: center;
    -webkit-justify-content: center;
    -o-justify-content: center;
    -ms-justify-content: center;
    border-radius: 50%;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    -o-border-radius: 50%;
    -ms-border-radius: 50%;
    background: #ebebeb;
    color: #999;
    margin-right: 15px;
    border: 5px solid #fff;
    font-weight: bold; }
  .title .step-text {
    font-weight: bold;
    color: #999; }

.current .title .step-number {
  background: #4966b1;
  color: #fff; }
.current .title .step-text {
  color: black; }

.content h3 {
  display: none; }

.content, .actions {
  background-color: #F1A6D8 !important;
 }

.actions {
  padding-bottom: 90px; }
  .actions ul {
    padding-left: 45px;
    padding-right: 55px; }
    .actions ul .disabled {
      display: none; }
    .actions ul li {
      float: right; }
      .actions ul li:first-child {
        float: left; }
        .actions ul li:first-child a {
          background: #e8e8e8;
          color: #999; }
      .actions ul li a {
        width: 140px;
        height: 50px;
        color: #fff;
        background: #4966b1;
        align-items: center;
        -moz-align-items: center;
        -webkit-align-items: center;
        -o-align-items: center;
        -ms-align-items: center;
        justify-content: center;
        -moz-justify-content: center;
        -webkit-justify-content: center;
        -o-justify-content: center;
        -ms-justify-content: center;
        text-decoration: none; }

.form-radio-flex {
  flex-wrap: wrap;
  -moz-flex-wrap: wrap;
  -webkit-flex-wrap: wrap;
  -o-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  margin: 0 -15px; }
  .form-radio-flex .form-radio-item {
    padding: 0 15px;
    margin-bottom: 25px; }
  .form-radio-flex input {
    width: 0;
    height: 0;
    position: absolute;
    left: -9999px; }
  .form-radio-flex input + label {
    margin: 0px;
    width: 223px;
    height: 133px;
    box-sizing: border-box;
    position: relative;
    display: inline-block;
    text-align: center;
    background-color: transparent;
    border: 1px solid transparent;
    text-align: center;
    text-transform: none;
    transition: border-color .15s ease-out,  color .25s ease-out,  background-color .15s ease-out, box-shadow .15s ease-out; }
    .form-radio-flex input + label img {
      width: 100%;
      height: 100%; }
  .form-radio-flex input:checked + label {
    border: 1px solid #4966b1;
    z-index: 1; }
  .form-radio-flex input:focus + label {
    outline: none; }
  .form-radio-flex input:hover {
    border: 1px solid #4966b1; }

label.error {
  display: block;
  position: absolute;
  top: 0px;
  right: 0; }
  label.error:after {
    font-family: 'Material-Design-Iconic-Font';
    position: absolute;
    content: '\f135';
    right: 20px;
    top: 50px;
    font-size: 13px;
    color: #f63726; }

input.error {
  border: 1px solid #f63726; }

#find_bank {
  padding: 0 55px;
  width: 680px;
  margin-right: 20px; }
  #find_bank::-webkit-input-placeholder {
    font-weight: 400; }
  #find_bank::-moz-placeholder {
    font-weight: 400; }
  #find_bank:-ms-input-placeholder {
    font-weight: 400; }
  #find_bank:-moz-placeholder {
    font-weight: 400; }

.submit {
  width: 150px;
  background: #666;
  color: #fff;
  font-weight: 400;
  cursor: pointer; }
  .submit:hover {
    background-color: #4d4d4d; }

.form-find {
  position: relative;
  padding-bottom: 70px;
  border-bottom: 1px solid #ebebeb; }

.form-icon {
  position: absolute;
  top: 12px;
  left: 20px;
  font-size: 18px;
  color: #999; }

.choose-bank-desc {
  color: #666;
  margin: 0px;
  padding-top: 30px;
  padding-bottom: 35px; }

#slider-margin {
  height: 9px;
  border: none;
  box-shadow: none;
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
  -o-box-shadow: none;
  -ms-box-shadow: none;
  background: #e8e8e8;
  border-radius: 0px;
  -moz-border-radius: 0px;
  -webkit-border-radius: 0px;
  -o-border-radius: 0px;
  -ms-border-radius: 0px;
  position: relative;
  margin-top: 110px; }
  #slider-margin .noUi-marker-horizontal.noUi-marker-large, #slider-margin .noUi-marker-horizontal.noUi-marker {
    height: 0px; }
  #slider-margin .noUi-connect {
    background: #4966b1; }
  #slider-margin .noUi-connects {
    border-radius: 0px;
    -moz-border-radius: 0px;
    -webkit-border-radius: 0px;
    -o-border-radius: 0px;
    -ms-border-radius: 0px; }
  #slider-margin .noUi-handle {
    width: 15px;
    height: 30px;
    top: -12px;
    background: #e8e8e8;
    outline: none;
    border: none;
    right: -15px;
    border: 1px solid #4966b1;
    border-radius: 0px; }
    #slider-margin .noUi-handle:after, #slider-margin .noUi-handle:before {
      width: 0px; }
    #slider-margin .noUi-handle .noUi-tooltip {
      bottom: 33px;
      border: none;
      background: transparent;
      font-size: 16px;
      color: #4966b1;
      padding: 0px; }
  #slider-margin .noUi-pips {
    width: 96%; }
    #slider-margin .noUi-pips .noUi-value {
      top: -50px;
      font-size: 16px;
      color: #666; }
      #slider-margin .noUi-pips .noUi-value:before {
        content: '$'; }
    #slider-margin .noUi-pips .noUi-value-horizontal {
      transform: none;
      -moz-transform: none;
      -webkit-transform: none;
      -o-transform: none;
      -ms-transform: none; }

.your-money {
  font-size: 16px;
  color: #222;
  margin: 0px;
  padding-top: 62px; }
  .your-money .money {
    font-size: 28px;
    font-weight: bold; }

@media screen and (max-width: 1024px) {
  .container {
    width: calc(100% - 40px);
    max-width: 100%; }

  .vertical .steps, .vertical .content, .vertical .actions {
    float: none;
    width: 100%; }

  #find_bank {
    width: 100%; }

  .form-radio-flex input + label {
    width: 190px;
    height: 120px; } }
@media screen and (max-width: 992px) {
  .content {
    height: 900px; }

  .form-radio-flex input + label {
    width: 100px;
    height: 65px; } }
@media screen and (max-width: 768px) {
  #steps-uid-0-p-0 .form-row, #steps-uid-0-p-0 .form-group, #steps-uid-0-p-0 .form-date {
    width: 100%; }

  .form-flex {
    flex-direction: column;
    -moz-flex-direction: column;
    -webkit-flex-direction: column;
    -o-flex-direction: column;
    -ms-flex-direction: column;
    margin: 0px; }

  .form-flex .form-group {
    padding: 0px; }

  fieldset, .actions ul {
    padding-left: 30px;
    padding-right: 30px; }

  #slider-margin .noUi-pips {
    width: 94%; } }
@media screen and (max-width: 480px) {
  .form-date-group, .form-find {
    flex-direction: column;
    -moz-flex-direction: column;
    -webkit-flex-direction: column;
    -o-flex-direction: column;
    -ms-flex-direction: column; }

  .content {
    height: 1050px; }

  #find_bank {
    margin-bottom: 20px; }

  .actions ul li a {
    width: 100px; }

  .form-radio-flex {
    margin: 0 -5px; }

  .form-radio-flex .form-radio-item {
    padding: 0 5px; }

  .form-radio-flex input + label {
    width: 90px;
    height: 61px; } }




    /* POPUP */
    .f-right {
      float: right;
    }
    
    .f-left {
      float: left;
    }
    
   
    
    .btn#fox-popup-triger {
      padding: 20px;
      margin: 10px;
      border: 1px solid #333;
      width: 200px;
      text-align: center;
      background-color: #FFB6C1;
      color: #fff;
      z-index: 9999;
     
    }
    .btn#fox-popup-triger p {
      margin: 0;
      padding: 0;
    }
    
    .fox-popup-wrap {
      display: none;
      background-color: #f9c6cf;
      position: fixed;
      top: 20%;
      bottom: 0;
      left: 0;
      right: 0;
      overflow: auto;
      height: 70%;
      width: 50%;
      margin: 0 auto;
      z-index: 9999;
      border: 1px solid black;
    }
    
    .fox-close-btn {
      width: 40px;
      height: 40px;
      background-color: #c80000;
      position: fixed;
     
  
      border-radius: 50%;
      cursor: pointer;
      top: 165px;
  right: 454px;
    }
    .fox-close-btn:hover {
      background-color: #555;
    }
    .fox-close-btn .bar {
      border-radius: 50%;
      position: absolute;
      top: 45%;
      left: 10%;
      width: 80%;
      height: 4px;
      background: #fff;
    }
    .fox-close-btn .bar:nth-child(1) {
      -webkit-transform: rotate(45deg);
              transform: rotate(45deg);
    }
    .fox-close-btn .bar:nth-child(2) {
      -webkit-transform: rotate(-45deg);
              transform: rotate(-45deg);
    }
    
    .fox-form-wrap {
      position: absolute;
      top: 10%;
      right: 20%;
      left: 20%;
    }
    .fox-form-wrap form {
      max-width: 900px;
      margin: auto;
    }
    .fox-form-wrap form p {
      color: white;
    }
    .fox-form-wrap form label {
      color: black;
    }
    .fox-form-wrap form .btn {
      padding: 10px;
    }
    .fox-form-wrap form .btn:hover {
      -webkit-transform: scale(1.1);
              transform: scale(1.1);
    }
    .fox-form-wrap p.info {
      font-size: 1.1rem;
      position: absolute;
      bottom: -110px;
      left: 0px;
      color: #fff;
    }
    
  

/*# sourceMappingURL=style.css.map */
